<!-- <div id="page"> -->
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="container">
    <div class="row align-items-center my-5" id="row">
      <div class="col-md-6">
        <h1>
          connect<br />
          with colleagues real-time
        </h1>
        <p>
          Schools, professional bodies or companies can have their own profile
          which they can use to communicate with its members, followers or
          Colleagues.
        </p>
        <button class="btn btn-primary px-4 py-2">Download app now</button>
      </div>
      <div class="col-md-6"><img src="assets/imgs/hero-img.png" /></div>
    </div>
  </div>
</div>
<div class="container-fluid cards my-4 py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/calender-sm.png" />
            <h6>Collaborate on Projects</h6>
            <p>
              You can easily collaborate on any Projects with colleagues,
              Members or followers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/contact-sm.png" />
            <h6>Professional Board</h6>
            <p>
              A discussion forum where all Professional chat and users can ask
              questions and get answers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <img src="assets/icons/folder-sm.png" />
            <h6>Research/Journal Board</h6>
            <p>
              Designed to suit users who wants to research in different fields
              of learning.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid easy my-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 order-md-2">
        <h3>
          Easy to Collaborate<br />
          with Colleagues
        </h3>
        <p>
          Designed to suit users who wants to research in different fields of
          learning.
        </p>
        <ul>
          <li>text editor</li>
          <li>media attachment</li>
          <li>user invites</li>
          <li>share research</li>
        </ul>
      </div>
      <div class="col-md-6 order-md-1"><img src="assets/imgs/easy.png" /></div>
      <div class="col-md-6 order-md-3">
        <h3>Users can work on the same project simultaneously</h3>
        <p>
          Originator can share files on read only. Users can upload drawings and
          Pictures. Users can also share projects with the public for reviews
        </p>
        <ul>
          <li style="text-transform: none">Create Sub-tasks</li>
          <li>text editor</li>
          <li>media attachment</li>
          <li>team invites</li>
        </ul>
      </div>

      <div class="col-md-6 order-md-4">
        <img class="user" src="assets/imgs/users.png" />
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<!-- </div> -->
